/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.container {
  width: 1170px;;
  position: relative;
  margin: 0 auto;
}

/* Header Section */
#header {
  background-color: #292042;
  height: 70px; 
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.icons {
  margin-top: 20px;
  display: inline-block;
}

.nav {
  float: right;
  margin-top: 8px;
}

li {
  display: inline-block;
  padding-right: 40px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

a.menu {
  text-decoration: none;
  color: rgb(207, 213, 240);
}

a.menu:focus {
  color: #f1f1f1;
}

a.menu:hover {
  color: #f1f1f1;
}

/* Main Page */
#mainpage {
  background: url(../img/main/banner.jpg)center;
  background-size: cover;
  height: 690px;
}

#mainpage .container {
  text-align: center;
}

h1.head {
  padding-top: 200px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  margin-bottom: 0;
}

p.headpara {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 80px;
}

a.findout {
  border:2px solid #e84545;
  background-color: #e84545;
  text-decoration: none;
  border-radius: 3px;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  color: white;
}

/* Features Page */
#features {
  height:  743px;
}

#features .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
  padding-top: 100px;
}

h3.featureheader {
  font-size: 14px;
  font-weight: 700;
}

p.featurepara {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  margin-bottom: 20px;
}

/* Works Page */
#works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 743px;
}


h3.pname{
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  color: white;
  visibility: hidden;
}

p.pweb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 400;
  color: white;
  visibility: hidden;
}

.work {
  position: relative;
  overflow: hidden;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

a.project {
  height: 100%;
  display: block;
}



.block1 {
  width: 100%;
  height: 400px;
  background: url(../img/works/work-1.jpg)no-repeat;
  background-size: cover;
  transition: all .3s ease;
  position: relative;
  }

  .block1:hover {
    transform: scale(1.2);
    background-size: cover;
    background-color: rgba(232, 69, 69, 0.9);
    background-blend-mode: multiply;
    transition: all .3s ease;
    position: relative;
  }
  
  .block1:hover h3.pname,
  .block1:hover p.pweb {
    visibility: visible;
  }

.block2 {
  background: url(../img//works/work-2.jpg)no-repeat ;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

.block2:hover {
  transform: scale(1.2);
  background-size: cover;
  background-color: rgba(232, 69, 69, 0.9);
  background-blend-mode: multiply;
  transition: all .3s ease;
  position: relative;
}

.block2:hover h3.pname,
.block2:hover p.pweb {
    visibility: visible;
  }

.block3 {
  background: url(../img/works/work-3.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

.block3:hover {
  transform: scale(1.2);
  background-size: cover;
  background-color: rgba(232, 69, 69, 0.9);
  background-blend-mode: multiply;
  transition: all .3s ease;
  position: relative;
}

.block3:hover h3.pname,
.block3:hover p.pweb {
    visibility: visible;
  }

.block4 {
  background: url(../img/works/work-4.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

.block4:hover {
  transform: scale(1.2);
  background-size: cover;
  background-color: rgba(232, 69, 69, 0.9);
  background-blend-mode: multiply;
  transition: all .3s ease;
  position: relative;
}

.block4:hover h3.pname,
.block4:hover p.pweb {
    visibility: visible;
  }

.block5 {
  background: url(../img/works/work-5.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

.block5:hover {
  transform: scale(1.2);
  background-size: cover;
  background-color: rgba(232, 69, 69, 0.9);
  background-blend-mode: multiply;
  transition: all .3s ease;
  position: relative;
}

.block5:hover h3.pname,
.block5:hover p.pweb {
    visibility: visible;
  }

.block6 {
  background: url(../img/works/work-6.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

.block6:hover {
  transform: scale(1.2);
  background-size: cover;
  background-color: rgba(232, 69, 69, 0.9);
  background-blend-mode: multiply;
  transition: all .3s ease;
  position: relative;
}

.block6:hover h3.pname,
.block6:hover p.pweb {
    visibility: visible;
  }

.block7 {
  background: url(../img/works/work-7.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

.block7:hover {
  transform: scale(1.2);
  background-size: cover;
  background-color: rgba(232, 69, 69, 0.9);
  background-blend-mode: multiply;
  transition: all .3s ease;
  position: relative;
}

.block7:hover h3.pname,
.block7:hover p.pweb {
    visibility: visible;
  }

.block8 {
  background: url(../img/works/work-8.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

.block8:hover {
  transform: scale(1.2);
  background-size: cover;
  background-color: rgba(232, 69, 69, 0.9);
  background-blend-mode: multiply;
  transition: all .3s ease;
  position: relative;
}

.block8:hover h3.pname,
.block8:hover p.pweb {
    visibility: visible;
  }

/* Team Page */
#team {
  height: 700px;
}

#team .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 100px;
}

h3.name {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
}

h3.role {
  color: #e84545;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 15px;
}

p.des {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279
}

img.net {
  border: 1px solid #cdd0d4;
  margin-right: 5px;
}

a.network {
  text-decoration: none;
}

img.net:hover {
  background-color: #e84545;
}

/* Testimonial Page */
#testimonials {
  height: 380px;
  /* position: relative; */
}

#testimonials .block {
  display: grid !important;
  grid-template-columns: 50% 50%;
  height: 380px;
}

.block-bg1 {
  background: url(../img/testimonial/testimonial-1.jpg)no-repeat;
  background-size: cover;

}

.block-bg2 {
  background: url(../img/testimonial/testimonial-2.jpg)no-repeat;
  background-size: cover;
}

.block-desc {
  background-color: #4e2959;
  text-align: left;
}

p.text {
  font-family: 'Cardo', serif;
  font-weight: 400;
  font-size: 36px;
  color: white;
  margin: 50px 100px;
}

p.designer {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  margin-top: 30px;
  color: white;
  margin: 10px 100px;
}
