/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.container {
  width: 1170px;
  position: relative;
  margin: 0 auto;
}

/* Header Section */
#header {
  background-color: #292042;
  height: 70px; 
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

#mob {
  display: none;
}

.burger {
  display: none;
}

.icons {
  margin-top: 20px;
  display: inline-block;
}

.nav {
  float: right;
  margin-top: 10px;
  z-index: 0;
}

li {
  display: inline-block;
  padding-right: 40px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

a.menu {
  text-decoration: none;
  color: rgb(207, 213, 240);
}

a.menu:focus {
  color: #f1f1f1;
}

a.menu:hover {
  color: #f1f1f1;
}

/* Main Page */
#mainpage {
  background: url(../img/main/banner.jpg)center;
  background-size: cover;
  height: 690px;
  width: 100%;
}

#mainpage .container {
  text-align: center;
}

h1.head {

  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  margin-bottom: 0;
  padding: 200px 50px 0 50px;
}

p.headpara {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 80px;
}

a.findout {
  border:2px solid #e84545;
  background-color: #e84545;
  text-decoration: none;
  border-radius: 3px;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  color: white;
}

/* Features Page */
#features .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

h3.featureheader {
  font-size: 14px;
  font-weight: 700;
}

p.featurepara {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  margin-bottom: 20px;
}

/* Works Page */
#works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 743px;
}


span.pname{
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: white;
  visibility: hidden; 
}

span.pweb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 400;
  color: white;
  visibility: hidden;
}

.work {
  position: relative;
  overflow: hidden;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

a.project {
  height: 100%;
  display: block;
}


.block1 {
  width: 100%;
  height: 400px;
  background: url(../img/works/work-1.jpg)no-repeat;
  background-size: cover;
  transition: all .3s ease;
  position: relative;
  }

  .block1:hover {
    transform: scale(1.2);
    background-size: cover;
    background-color: rgba(232, 69, 69, 0.9);
    background-blend-mode: multiply;
    transition: all .3s ease;
    position: relative;
  }
  
  .block1:hover span.pname,
  .block1:hover span.pweb {
    visibility: visible;
  }

.block2 {
  background: url(../img//works/work-2.jpg)no-repeat ;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

  .block2:hover {
    transform: scale(1.2);
    background-size: cover;
    background-color: rgba(232, 69, 69, 0.9);
    background-blend-mode: multiply;
    transition: all .3s ease;
    position: relative;
  }

  .block2:hover span.pname,
  .block2:hover span.pweb {
    visibility: visible;
  }

.block3 {
  background: url(../img/works/work-3.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

  .block3:hover {
    transform: scale(1.2);
    background-size: cover;
    background-color: rgba(232, 69, 69, 0.9);
    background-blend-mode: multiply;
    transition: all .3s ease;
    position: relative;
  }

  .block3:hover span.pname,
  .block3:hover span.pweb {
    visibility: visible;
  }

.block4 {
  background: url(../img/works/work-4.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

  .block4:hover {
    transform: scale(1.2);
    background-size: cover;
    background-color: rgba(232, 69, 69, 0.9);
    background-blend-mode: multiply;
    transition: all .3s ease;
    position: relative;
  }

  .block4:hover span.pname,
  .block4:hover span.pweb {
    visibility: visible;
  }

.block5 {
  background: url(../img/works/work-5.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

  .block5:hover {
    transform: scale(1.2);
    background-size: cover;
    background-color: rgba(232, 69, 69, 0.9);
    background-blend-mode: multiply;
    transition: all .3s ease;
    position: relative;
  }

  .block5:hover span.pname,
  .block5:hover span.pweb {
    visibility: visible;
  }

.block6 {
  background: url(../img/works/work-6.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

  .block6:hover {
    transform: scale(1.2);
    background-size: cover;
    background-color: rgba(232, 69, 69, 0.9);
    background-blend-mode: multiply;
    transition: all .3s ease;
    position: relative;
  }

  .block6:hover span.pname,
  .block6:hover span.pweb {
    visibility: visible;
  }

.block7 {
  background: url(../img/works/work-7.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

  .block7:hover {
    transform: scale(1.2);
    background-size: cover;
    background-color: rgba(232, 69, 69, 0.9);
    background-blend-mode: multiply;
    transition: all .3s ease;
    position: relative;
  }

  .block7:hover span.pname,
  .block7:hover span.pweb {
    visibility: visible;
  }

.block8 {
  background: url(../img/works/work-8.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: all .3s ease;
  position: relative;
}

  .block8:hover {
    transform: scale(1.2);
    background-size: cover;
    background-color: rgba(232, 69, 69, 0.9);
    background-blend-mode: multiply;
    transition: all .3s ease;
    position: relative;
  }

  .block8:hover span.pname,
  .block8:hover span.pweb {
    visibility: visible;
  }

/* Team Page */
#team{
  padding-top: 100px;
}
#team .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

h3.name {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
}

h4.role {
  color: #e84545;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 15px;
}

p.des {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279
}

a.network i {
  font-size: 18px;
  border: 1px solid #cdd0d4;
  margin-right: 2px;
  color: grey;
  /* padding: 10px 10px 10px 10px; */
  width: 40px;
  text-align: center;
  padding: 8px 0 8px 0;
  
}

a.network{
  text-decoration: none;
}

a.network i:hover {
  background: #e84545;
  color: white;
}

/* Testimonial Page */
#testimonials {
  height: 480px;
  padding-top: 100px;
}

#testimonials .block {
  display: grid !important;
  grid-template-columns: 50% 50%;
  height: 380px;
}

.block-bg1 {
  background: url(../img/testimonial/testimonial-1.jpg)no-repeat;
  background-size: cover;

}

.block-bg2 {
  background: url(../img/testimonial/testimonial-2.jpg)no-repeat;
  background-size: cover;
}

.block-desc {
  background-color: #482f50;
  text-align: left;
}

p.text {
  font-family: 'Cardo', serif;
  font-weight: 400;
  font-size: 36px;
  color: white;
  margin: 50px 150px;
}

p.designer {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  margin-top: 30px;
  color: white;
  margin: 10px 150px;
}

/* #Download */
#download {
  height: 250px;
  text-align: center;
}

h3.download {
  font-size: 28px;
  color: #2d3033;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 0;
}

p.down {
  color: black;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
}

a.downloads {
  border:2px solid #e84545;
  background-color: #e84545;
  text-decoration: none;
  border-radius: 3px;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-top: 30px;
  color: white;
}

/* Aboutus Page */
#aboutus {
  height: 230px;
  background-color: #3a3e64;
  padding-top: 50px;
}

#aboutus .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  text-align: center;
}

h3.footerheader {
  color: white;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
}

p.footerpara {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;  
}

a.share i {
  width: 40px;
  font-size: 18px;
  color: white;
  border: 2px solid white;
  margin-right: 5px;
  border-radius: 2px;
  padding: 10px 0 10px 0;
}

  a.share i:hover {
    background-color: #e84545;
    border: 2px solid #e84545;
  }

/* Footer Bottom Section */
#footerbottom {
  text-align: center;
  background-color: #313454;
  padding: 20px 0;
  height: 75px;
} 

p.copyright {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;  
  display: inline;
}

a.dev {
  text-decoration: none;
  color: white;
  display: inline;
}

img.heart {
  vertical-align: middle;
}

/* Media Max-Widht  768 */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  /* Header Section */
  .nav {
    display: none;

  }

  .mobilenav{
    display: none;
    width: 100%;
    height: 100vh;
    display: fixed;
    background: rgb(29, 28, 28);
    opacity: .9;
    text-align: center;
    position: fixed;
    top: 0;
  }

  .mobile {
    padding-top: 150px;
    text-align: center;
  }

  .listmobile {
    display: block;
    padding-top: 30px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .burger {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #e84545;
    border-radius: 22px;
  }
  
  .burger .hamburger {
    margin-left: 10px;
    width: 30px;
    height: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    transition: .5s;
    top: 22px;
  }
  
  .burger .hamburger:before,
  .burger .hamburger:after {
    content: '';
    position: absolute;
    right: 0;
    width: 30px;
    height: 5px;
    background: rgb(255, 255, 255);
    transition: .5s;
  }
  
  .burger .hamburger:before {
    top: -10px;
  }

  .burger .hamburger:after {
    top: 10px;
  }
  
  .burger.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
  }
  
  .burger.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .burger.active .hamburger:after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* Mainpage Section */
  h1.head {
    font-size: 45px;
  }

  p.headpara {
    font-size: 18px;
  }

  #works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
  }

  /* Features Page */
  #features {
    padding-bottom: 100px;
  }
  #features .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  p.featurepara {
    font-size: 12px;
  }

  /* Team Page */
  #team {
    padding-bottom: 100px;
  }
  #team .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  } 

  img.person {
    width: 100%;
  }

  /* Testimonial Page */
  #testimonials {
    height: 90vh;
  }

  p.text {
    font-size: 22px;
  }

  p.designer {
    font-size: 12px;
  }

  #testimonials .block {
    display: grid;
    grid-template-columns: auto;
    height: 90vh;
  }

  .block-bg1,
  .block-bg2 {
    height: 55vh;
  }

  .block-desc {
    height: 35vh;
  }

  /* Aboutus Page */
  #aboutus {
    height: auto;
  }
  #aboutus .container {
    display: grid;
    grid-template-columns: 100%;
  }

}

/* Media Max-Widht  414 */
@media screen and (max-width: 415px) {
  .container {
    width: 400px; 
  }

  /* Header Section */
  .listmobile {
    display: block;
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  /* Main Page */
  h1.head {
    font-size: 32px;
    line-height: normal;
    padding-top: 200px;
  }

  /* Features Section */
  #features .container {
    display: grid;
    grid-template-columns: 100%;
  }

  /* Works Page */
  #works {
    display: grid;
    grid-template-columns: 100%;
  }

  /* Team Page */
  #team .container {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
  }

  img.person {
    width: 70%;
  }

  /* Testimonial Page */
  #testimonials {
    height: 70vh;
    padding-top: 50px;
  }

  p.text {
    font-size: 22px;
    margin: 20px;
  }

  p.designer {
    font-size: 12px;
    margin: 20px;;
  }

  #testimonials .block {
    display: grid;
    grid-template-columns: auto;
    height: 70vh;
    text-align: left;
  }

  .block-bg1,
  .block-bg2 {
    height: 35vh;
  }

  .block-desc {
    height: 35vh;
  }

  /* Download page */
  #download {
    padding-top: 100px;
    height: 350px;
  }

  /* About Us Page */
  .footerpara {
    margin-bottom: 40px;
  }

  /* Footer Section */
  #footerbottom {
    padding: 20px 0 0;
    height: 60px  ;
  }
}